<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Welcome to the BlueBox Web API!</h2>
            </hgroup>
            <p>
                BlueBox  Web API allows you to integrate your applications, data and services with ShowMgr.com directly over HTTP.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                Review the BlueBox Web API documentation <a href="/Help"> Here</a>.
            </li>

            <li class="two">
                <h5>Download the Sample</h5>
                To help get you started, we've created samples that can be found <a>here</a>.
            </li>
            <li class="three">
                <h5>Integrate As Needed!</h5>
                Once you have the basics down you can start integrating the BlueBox API
                to create a highly tailored solution for your business.
            </li>
        </ol>
    </section>
</div>